nav {
    background-color: #c6e8e6;
    padding: 10vh;
    margin-bottom: 5vh;
    border: solid #b1cecc;
}

.navbar-nav .nav-item .nav-link {
    position: relative;
    color: #222323;
    text-decoration: none;
}

.navbar-nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    right: 50%;
    background-color: #b1cecc;
    transition: width 0.5s ease-in-out, width 0.5s ease-in-out;
    transform: translateX(50%);
}

.navbar-nav .nav-item .nav-link:hover::after {
    width: 75%; /* Expand to 100% width on hover */
    transform: translateX(50%); /* Keep underline centered */
}
